
 body{
    text-align: center;
 }
.btn
{
    border:2px solid black;
    padding-top: 50px;
    padding: 50px;
    margin-top: 20px;
    justify-content: center;
    display: inline-flex;
    border-radius: 20px;
}
.yellow
{
    background-color: yellow;
}
.red
{
    background-color: red;
}
.purple
{
    background-color: purple;
}
.green
{
    background-color: green;
}
.flash
{
    background-color: azure;
}






































